@media (min-width:992px) and (max-width:1199.98px){
    #banner {
        height: 700px;
    }
    #banner .banner_content h1{
        font-size: 58px;
        letter-spacing: 25px;
    }
    #banner .banner_content img{
        margin: 40px auto;
    }
    #about{
        padding: 30px 0px;
    }
}
@media (max-width:991.98px) {
    #service {
    background: #f0f0e8;
    }
    #service .service_item .service_info:nth-child(2n) {
            padding: 10px 0 25px 25px;
        }
}
@media (min-width:768px) and (max-width:991.98px) {
    #banner {
        height: 440px;
    }
    #banner .banner_content h1{
	    font-size: 48px;
	    letter-spacing: 15px;
    }
    #banner .banner_content h3{
        font-size: 20px;
    }
    #banner .banner_content p{
        font-size: 16px;
    }
    #banner .banner_content img {
        margin: 10px auto;
        height: 16px;
    }
    #banner .banner_content a {
        font-size: 10px;
        padding: 5px 10px;
    }
    #about {
        padding: 10px 0;
    }
    #about .row {
        padding: 10px 0;
    }
    #about .about_item:nth-child(2) {
        border-right-color: transparent;
    }
    #about .about_item {
        padding: 15px 0;
    }
}
@media (max-width:767.98px) {
    #mynav #mymenu ul li a {
        padding: 10px 25px;
}
}
@media (min-width:576px) and (max-width:767.98px) {
    #banner {
        height: 341px;
    }
    #banner .banner_content h1 {
        font-size: 40px;
        letter-spacing: 25px;
    }
    #banner .banner_content h3{
        font-size: 25px;
    }
    #banner p{
        font-size: 14px;
    }
    #banner img {
        margin: 10px auto;
    }
    #banner .banner_content a {
        font-size: 10px;
        padding: 5px 10px;
    }
    #about {
        padding: 10px 0;
    }
    #about .row {
        padding: 10px 0;
    }
    #about .about_item {
        padding: 10px 0;
    }
    #about .about_item h3 {
        margin: 5px 0;
    }
    #about .about_item:nth-child(2) {
        border-right-color: transparent;
    }
    #service .service_item {
        padding: 15px 0;
    }
}
@media (min-width:320px) and (max-width:575.98px) {
    #banner {
        height: 220px;
    }
    #banner .banner_content h3 {
        font-size: 11px;
    }
    #banner .banner_content h1 {
        font-size: 18px;
        letter-spacing: 6px;
    }
    #banner .banner_content p {
        font-size: 10px;
    }
    #banner img {
        margin: 10px auto;
        width: 50px;
    }
    #banner .banner_content a {
        font-size: 8px;
        padding: 4px 12px;
    }
    #about {
        padding: 0 0;
    }
    #about .row {
        padding: 0;
    }
    #about .about_item {
        padding: 14px 0;
    }
    #about .about_item h3 {
        margin: 5px 0;
    }
    #about .section_info p {
        font-size: 13px;
    }
    #about .section_info p b {
        font-size: 14px;
    }
    #service {
        padding: 10px 0;
    }
    #service .section_info {
        font-size: 13px;
    }
    #service .service_info {
        padding: 15px 15px 8px;
    }
    #service .service_info p {
        font-size: 11px;
    }
    #service .service_info h3 {
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
    }
    #mywork p {
        font-size: 13px;
    }
    #contac_me p {
        font-size: 13px;
    }
}